// font faces
$body-font = 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons', 'PingFang SC', Verdana, Arial, '微软雅黑', '宋体'
// $body-font = Source Sans Pro,Helvetica Neue,Arial,sans-serif;

// font sizes
$body-font-size = 15px
// colors
$grey-bg = #efefef
$blue = #0288D1
$blue-link = #868686
$orange = #FF8400
$grey-publish = #aab2b3
$login-text = #757575
$grey = #bfbfbf
$grey-dark = #808080
// border
$border-radius = 3px
// 主页底部高度
$footer-height = 60px
$header-height = 60px