.if
  display inline-flex
.f
  display flex
.fd-c
  flex-direction column
.fd-r
  flex-direction row
.fjc-c
  justify-content center
.fjc-fe
  justify-content flex-end
.fjc-b
  justify-content space-between
.fai-c
  align-items center